In [1]:
import pymysql
connection = pymysql.connect(host="localhost",user="root",password="root",database="project")
print("Connected to MySQL database")

Connected to MySQL database

In [8]:
import pymysql 
conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
try: 
    cursor=conn.cursor() 
    cursor.execute("insert into employee values(10,'abc','aabb@aa.com','12-05-01',10000)")  
    conn.commit() 
    print("record inserted successfully")  
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql") 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

record inserted successfully

In [9]:
import pymysql 
conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
try: 
    cursor=conn.cursor() 
    sql="insert into employee values(%s,%s,%s,%s,%s)"  
    records=[(100,'ajay','ajay@gmail.com','2021-01-25',10000), 
        (200,'rohini','rohini','2012-01-25',20000), 
        (300,'priya','priya@gmail.com','2019-01-25',3000)]
    cursor.executemany(sql,records)  
    conn.commit() 
    print("record inserted successfully")  
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql") 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

record inserted successfully

In [10]:
import pymysql 
conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
try: 
    cursor=conn.cursor() 
    while True: 
        eid=int(input("enter employee id:"))  
        ename=input("enter employee name:") 
        email =input("enter email id")
        esal=input("enter employee salary:")  
        ehire=input("enter employee hiredate:[yyyy-mm-dd]") 
        
        sql="insert into employee values(%s,'%s','%s','%s',%s)"  
        cursor.execute(sql %(eid,ename,email,ehire,esal))  
        print("Record inserted successfully") 
        option=input("Do you want to insert one more record[yes/no]:")  
        if option=="no": 
            conn.commit()  
            break   
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql") 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

enter employee id: 4
enter employee name: Anushree
enter email id anu@gm.com
enter employee salary: 100000000
enter employee hiredate:[yyyy-mm-dd] 2026-05-31

Record inserted successfully

Do you want to insert one more record[yes/no]: no

In [15]:
import pymysql 
conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
try: 
    cursor=conn.cursor() 
    increment=float(input("enter incremented salary:"))  
    salrange=float(input("enter salary range:")) 
    sql="update employee set salary = salary + %d where salary < %d"  
    cursor.execute(sql%(increment,salrange)) 
    conn.commit() 
    print("record updated successfully")  
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql") 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

enter incremented salary: 2000
enter salary range: 2000000000

record updated successfully

In [7]:
import pymysql 
try:
    conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
 
    cursor=conn.cursor() 
    cutoffsalary=float(input("enter cutoffsalary :"))
    sql="delete from employee where salary > %d"
    cursor.execute(sql%(cutoffsalary))  
    conn.commit() 
    print("Records deleted successfully")  
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql",e) 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

enter cutoffsalary : 1000

Records deleted successfully

In [10]:
import pymysql 
try:
    conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
 
    cursor=conn.cursor() 
    cursor.execute("Select * from employee")  
    data = cursor.fetchall()
    for row in data:
        print("Employee id: ",row[0]) 
        print("Employee name: ",row[1]) 
        print("Employee salary: ",row[2]) 
        print("Employee hiredate: ",row[3])
        print()
    conn.commit() 
    print("Records deleted successfully")  
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql",e) 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

Employee id:  1
Employee name:  amit
Employee salary:  aa@aa.com
Employee hiredate:  2012-05-01 00:00:00

Employee id:  2
Employee name:  arya
Employee salary:  arya@aa.com
Employee hiredate:  2015-03-05 00:00:00

Records deleted successfully

In [11]:
import pymysql 
try:
    conn = pymysql.connect(host="localhost",user="root",password="root",database="project") 
 
    cursor=conn.cursor() 
    cursor.execute("Select * from employee order by salary desc")  
    n=int(input("enter the number of required rows:"))
    data = cursor.fetchall()
    for row in data:
        print(row)
        print('####')  
except pymysql.MySQLError as e: 
    if conn: 
        conn.rollback()  
        print("problem with sql",e) 
finally: 
    if cursor: 
        cursor.close()  
    if conn: 
        conn.close()

enter the number of required rows: 3

(2, 'arya', 'arya@aa.com', datetime.datetime(2015, 3, 5, 0, 0), 20000.0)
####
(1, 'amit', 'aa@aa.com', datetime.datetime(2012, 5, 1, 0, 0), 10000.0)
####