In [2]:
d={100:'ideal',200:'ravi',300:'shiva'}
print(d[200])

ravi

In [6]:
d={100:'ideal',200:'ravi',300:'shiva'}
if 400 in d:
    print(d[400])

In [8]:
rec={}
n=int(input("Enter number of students:"))
i=1
while i<=n:
    name=input("Enter Students Name:")
    marks=input("Enter % of Marks of Students:")
    rec[name]=marks
    i=i+1
print("Name of Students","\t","% of marks ")
for x in rec:
    print("\t",x,"\t\t",rec[x])

Enter number of students: 6
Enter Students Name: Anushree
Enter % of Marks of Students: 83
Enter Students Name: Ankita
Enter % of Marks of Students: 83
Enter Students Name: Nigar
Enter % of Marks of Students: 83
Enter Students Name: Manvi
Enter % of Marks of Students: 83
Enter Students Name: Anu
Enter % of Marks of Students: 83
Enter Students Name: Anku
Enter % of Marks of Students: 83

Name of Students 	 % of marks
	 Anushree 		 83
	 Ankita 		 83
	 Nigar 		 83
	 Manvi 		 83
	 Anu 		 83
	 Anku 		 83

In [9]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d)
d[400]="Pavan"
print(d)
d[100]="Amit"
print(d)

{100: 'ideal', 200: 'ravi', 300: 'shiva'}
{100: 'ideal', 200: 'ravi', 300: 'shiva', 400: 'Pavan'}
{100: 'Amit', 200: 'ravi', 300: 'shiva', 400: 'Pavan'}

In [1]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d.pop(100))
print(d)
print(d.pop(400))

ideal
{200: 'ravi', 300: 'shiva'}

KeyError: 400

In [ ]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d[100])
print(d[400])
print(d.pop(400))

In [2]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d)
print(d.popitem())
print(d)

{100: 'ideal', 200: 'ravi', 300: 'shiva'}
(300, 'shiva')
{100: 'ideal', 200: 'ravi'}

In [4]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d.keys())
for k in d.keys():
    
    print(k)

dict_keys([100, 200, 300])
100
200
300

In [5]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d.values())
for v in d.values():
    
    print(v)

dict_values(['ideal', 'ravi', 'shiva'])
ideal
ravi
shiva

In [6]:
d={100:"ideal",200:"ravi",300:"shiva"}
for k,v in d.items():
    print(k,"--",v)

100 -- ideal
200 -- ravi
300 -- shiva

In [7]:
d={100:"ideal",200:"ravi",300:"shiva"}
print(d.setdefault(400,"pavan"))
print(d)
print(d.setdefault(100,"sachin"))
print(d)

pavan
{100: 'ideal', 200: 'ravi', 300: 'shiva', 400: 'pavan'}
ideal
{100: 'ideal', 200: 'ravi', 300: 'shiva', 400: 'pavan'}

In [10]:
d=eval(input("Enter Dictionary:"))
s=sum(d.values())
print("Sum=",s)

Enter Dictionary: {'A':100,'B':200,'C':300}

Sum= 600

In [11]:
word=input("Enter any word:")
d={}
for x in word:
    d[x]=d.get(x,0)+1# to get repetitions
for k,v in d.items():
    print(k,"occured",v,"times")

Enter any word: Anuuushreeee

A occured 1 times
n occured 1 times
u occured 3 times
s occured 1 times
h occured 1 times
r occured 1 times
e occured 4 times

In [13]:
word=input("Enter any word:")
d={}
for x in word:
    d[x]=d.get(x,0)+1
sum=0
for v in d.values():
    if v%2==0:
        sum=sum+v
print(sum)

Enter any word: abdcad

4

In [15]:
word=input("Enter any word:")
vowels={'a','e','i','o','u'}
d={}
for x in word:
    if x in vowels:
        d[x]=d.get(x,0)+1
print(d)

Enter any word: Anushree

{'u': 1, 'e': 2}

In [ ]:
n=int(input("Enter the number of students:"))
d={}
for i in range(n):
    name=input("Enter student Name:")
    marks=input("Enter students Marks")
    d[name]=marks
while True:
    name=input("Enter student Name to get Marks:")
    marks=d.get(name,-1)
    if marks== -1:
        print("Student Not Found")
    else:
        print("The Marks of",name,"are",marks)
option=input("Do you want to find another student marks[Yes|No]")
if option=="No":
    break
print("Thanks for using our application")

Enter the number of students: 4
Enter student Name: Anushree
Enter students Marks 85
Enter student Name: Ankita
Enter students Marks 85
Enter student Name: Samiksha
Enter students Marks 85
Enter student Name: Nigar
Enter students Marks 85
Enter student Name to get Marks: Anushree

The Marks of Anushree are 85