In [1]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(j,end =" ")
    print()

no of rows 3

1
1 2
1 2 3

In [3]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(i,end =" ")
    print()

no of rows 3

1
2 2
3 3 3

In [4]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(j,end ="**")
    print()

no of rows 3

1**
1**2**
1**2**3**

In [5]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(n,end =" ")
    print()

no of rows 3

3
3 3
3 3 3

In [25]:
n=int(input("no of rows"))
t=65
for i in range(1,n+1):
    for j in range (1,i+1):
        print(t,end =" ")
        t+=1
        
    print()

no of rows 3

65
66 67
68 69 70

In [27]:
n=int(input("no of rows"))
t=65
for i in range(1,n+1):
    for j in range (1,i+1):
        print(chr(t),end =" ")
        t+=1
        
    print()

no of rows 3

A
B C
D E F

In [42]:
n=int(input("no of rows"))
for i in range(1,n+1):
    t=64
    for j in range (1,i+1):
        t=64
        char=chr(t+i)
        print(char,end =" ")
        
    print()

no of rows 3

A
B B
C C C

In [47]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print((i+j+1)%2,end =" ")
        
    print()

no of rows 3

1
0 1
1 0 1

In [49]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i):
        print((i+j+1)%2,end =" ")
        
    print()

no of rows 3

0
1 0

In [54]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print(f"{(i+j)%2:4}",end =" ")
        
    print()

no of rows 3

   0
   1    0
   0    1    0

In [65]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print("*",end=" ")
    print()

no of rows 3

*
* *
* * *

In [66]:
n=int(input("no of rows"))
for i in range(n,0,-1):
    for j in range (1,i+1):
        print("*",end=" ")
    print()

no of rows 3

* * *
* *
*

In [69]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print("*",end=" ")
    print()
for i in range(n+1,0,-1):
    for j in range (1,i+1):
        print("*",end=" ")
    print()

no of rows 3

*
* *
* * *
* * * *
* * *
* *
*

In [24]:
n=int(input("no of rows"))
for i in range(1,n+1):
    for j in range (n):
        print(i,end=" ")
    print()

no of rows 10

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [27]:
# Number of rows
rows = 10
# Number of columns
cols = 10

for i in range(rows):
    for j in range(1, cols + 1):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [27]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
     print(" "*(n-i),"1"*i,end=" ")
    
     print()

Enter the number of rows:  10

          1
         11
        111
       1111
      11111
     111111
    1111111
   11111111
  111111111
 1111111111

In [31]:
n=int(input("Enter the number of rows: "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows:  10

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *