In [2]:
import pandas as pd
#read and load the emp.csv file to a df
emp_df = pd.read_csv("emp.csv")
#print the data frames
print(emp_df)

   ENO     ENAME    ESAL          EADDR
0    1  Anushree  500000   shakti nagar
1    2    Ankita  500000  yadav coloney

In [3]:
import pandas as pd
#read and load the emp.csv file to a df
emp_df = pd.read_csv("emp.csv")
rows,cols=emp_df.shape
print(rows)
print(cols)

2
4

In [6]:
import pandas as pd
emp_cols_df = pd.read_csv("emp.csv",usecols=['ENO','ENAME','ESAL'])
print(emp_cols_df)

   ENO     ENAME    ESAL
0    1  Anushree  500000
1    2    Ankita  500000

In [8]:
import pandas as pd
emp_rows_df=pd.read_csv("emp.csv",nrows=1)
print(emp_rows_df)

   ENO     ENAME    ESAL         EADDR
0    1  Anushree  500000  shakti nagar

In [11]:
#removing the inde
import pandas as pd
emp_rows_df=pd.read_csv("emp.csv",nrows=1,usecols=['ENO','ENAME','ESAL'],index_col=0)
print(emp_rows_df)

        ENAME    ESAL
ENO
1    Anushree  500000

In [12]:
import pandas as pd
emp_df=pd.read_csv("emp.csv")
emp_df.loc[0,'ESAL']=550000
emp_df.to_csv("emp.csv",index=False)
print("updated Successfully")
emp_df

updated Successfully

   ENO     ENAME    ESAL          EADDR
0    1  Anushree  550000   shakti nagar
1    2    Ankita  500000  yadav coloney